
@font-face {
    font-family: "scoure";
    src: url(../fonts/iomanoid.ttf) format("truetype");
}

@font-face {
    font-family: "scoure-black";
    src: url(../fonts/iomanoid_front.ttf) format("truetype");
}

.over-img{
  position:relative;
  bottom: 30px;
}

/********* General ***************/

.container-fluid {
  padding: 0;
  margin: 0;
}

/********* Intros ***************/

.memerized-game{
  height:100vh;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logou{
  margin:auto;
}

.logo {
  margin: auto;
  text-align: center;
}
.logo img{
  margin-top: 60px;
}

.but{
  margin: auto;
}
.btn-startu{
  color: #ffcc00;
  background: black;
  font-size: 50px;
  margin-top: 95px;
  padding: 15px 40px;
  border-radius: 15px;
  border: solid 5px #ffcc00;
  -webkit-font-smoothing: antialiased;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.5; }
}

.btn-startu:hover{
  color: #C5E1FC;
  border: solid 5px #C5E1FC;
  animation: none;
}







/*********Memerized questions***************/

.question-panel{
  margin: 100px 40px;
  text-align: center;
}

.question{
  font-size: 25px;
}

.buttons{
  margin-top: 60px;
}
.btn-answer{
  padding: 15px 20px;
  font-size: 30px;
  margin-left: 20px;
}



/*********The minigame***************/



.contain-minigame{
  background: url("../img/all_memes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  padding: 10.3%;
}

.minigame {
  border: solid 3px black;
  width: 350px;
  margin:auto;
}

/* Window */
.window {
	height: 450px;
  background: no-repeat center center fixed url("../img/mountains.png");
  background-size: cover;
	position: relative;
	overflow: hidden;
  margin: 0 auto;
}


/* The conitnue + show progress section */

.results-container, .game-over{
  background: white;
  border-radius: 5px;
  border: 3px solid black;
  margin-top: 25px;
  margin: 4em auto;
  text-align: center;
  padding: 1em;
  font-size: 33px;
  width: 15em;
}
.display-stats{
  text-align: center;
  background: transparent;
  position:relative;
  top:3em;
}

.motivational-quote, .show-score, .show-lives{
  font-family: "scoure-black";
  font-size: 2em;
}

.player-lives, .current-lives, .player-score, .current-score {
font-family: "scoure";
font-size: 2em;
}

.btn-play-again{
  color: #b3b3ff;
  background: black;
  font-size: 50px;
  margin-top: 15px;
  padding: 15px 40px;
  border-radius: 15px;
  border: solid 5px #b3b3ff;
  -webkit-font-smoothing: antialiased;
  animation: blinker 1s linear infinite;
}

.btn-continue{
  font-size: 30px;
}


/* Display the score in the minigame */
.score {
  position: absolute;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 250%;
  padding-top: 20px;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 0 #000;
  z-index: 4;
}

/* CSS for the bird / image */
.bird {
	height: 28px;
	width: 40px;
	background: url("../img/bird.png");
	position: absolute;
	bottom: 50%;
	left: 130px;
	z-index: 3;
  animation: birdFlap 0.2s steps(3, end) infinite alternate;
  transition: transform 0.3s;
}

@keyframes birdFlap {
  0% {background-position: 0 84px;}
  100% {background-position: 0 0;}
}

/* CSS for the Pipes / whatever */

.pipe {
	width: 60px;
	height: 100%;
	position: absolute;
	right: -60px;;
}

.topHalf {
	background: url("../img/pipe.png") bottom;
	position: absolute;
	top: 0;
	width: 100%;
}

.bottomHalf {
	background: url("../img/pipe.png") top;
	position: absolute;
	bottom: 0;
	width: 100%;
}

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
