
@font-face {
    font-family: "scoure";
    src: url(../fonts/iomanoid.ttf) format("truetype");
}

@font-face {
    font-family: "scoure-black";
    src: url(../fonts/iomanoid_front.ttf) format("truetype");
}

@font-face {
    font-family: "frogotype";
    src: url(../fonts/Frogotype.ttf) format("truetype");
}

@font-face {
    font-family: "Pixeled";
    src: url(../fonts/Pixeled.ttf) format("truetype");
}


/********* General ***************/

.container-fluid {
  padding: 0;
  margin: 0;
}

/********* Instructions ***************/

ul {
    width: 60%;
    margin: auto;
}

.set-ins{
    margin-right: -60px;
overflow: hidden;
}
.instructions{
  margin-top: 1.1em;
  font-family: "Frogotype";
  font-size: 40px;
  text-align: left;
  color:#ffcc66;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  /*overflow-x: hidden;*/
}

ul > li{
  /*list-style-type: none;*/
  line-height: 85%;
  word-wrap:break-word;
    margin: 0;
    padding-left: 60px;
    padding-top: 20px;
  	list-style: none;
  	background-image: url("../img/see2.gif-c200");
  	background-repeat: no-repeat;
  	background-position: left center;
  	background-size: 40px;
}

/********* Intros ***************/

.memerized-game{
  height:100vh;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover ;
}

.logou{
  padding-top:1.5em;
  margin:auto;
}

.logo {
  margin: auto;
  text-align: center;
}
.logo img{
  margin-top: 60px;
}

.but{

  margin: auto;
}
.btn-startu{
  color: #ffcc00;
  background: black;
  font-size: 50px;
  margin-top: 95px;
  padding: 15px 40px;
  border-radius: 15px;
  border: solid 5px #ffcc00;
  -webkit-font-smoothing: antialiased;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.5; }
}

.btn-startu:hover{
  color: #C5E1FC;
  border: solid 5px #C5E1FC;
  animation: none;
}



/*********Memerized questions***************/
.img-check{
  margin:auto;
  overflow: hidden;
}
.feedback-answer{
  margin:auto;
}
.question-panel{
  width:100%;
  height: 100%;
  padding-bottom:180px;
  margin:auto;
  text-align: center;
  color:white;
}
.question-perse{
  font-weight: bold;
  color: #ffcc00;
  text-align: left;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.question{
  font-size: 35px;
  margin: 2em;
}

.buttons{
  margin-top: 60px;
}
.btn-answer{
  padding: 15px 20px;
  font-size: 30px;
  margin-left: 20px;
}



/*********The minigame***************/



.contain-minigame{
  background: no-repeat center center fixed url("../img/all_memes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  padding: 3.3%;
  border: solid 3px black;
  border-radius: 30px;
  margin:auto;
}

.minigame {
  border: solid 3px black;
  width: 350px;
  margin:auto;
  margin-top:-14px;
}

/* Window */
.window {
	height: 450px;
  background: no-repeat center center fixed url("../img/mountains.png");
  background-size: cover;
	position: relative;
	overflow: hidden;
  margin: auto;
}


/* The conitnue + show progress section */

.results-container, .game-over{
  background: white;
  border-radius: 5px;
  border: 3px solid black;
  margin-top: 25px;
  margin: 4em auto;
  text-align: center;
  padding: 1em;
  font-size: 30px;
  width: 15em;
}

.game-over{
  background: white;
  border-radius: 5px;
  border: 3px solid black;
  margin-top: 25px;
  margin:1em, auto;
  text-align: center;
  padding: 1em;
  font-size: 30px;
  width: 16em;
}
.display-stats{
  font-weight: bold;
  text-align: center;
  background: transparent;
  position:relative;
  padding: 3em;
  margin-top:-11em;
}

.show-score, .show-lives{
  font-family: "scoure-black";
  font-size: 2.2em;
  color:  white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.motivational-quote{
  font-family: "scoure-black";
  font-size: 2em;
}

.player-lives, .current-lives, .player-score, .current-score {
font-family: "scoure";
font-size: 2em;
}

.btn-play-again{
  color: #b3b3ff;
  background: black;
  font-size: 50px;
  margin-top: 15px;
  padding: 15px 40px;
  border-radius: 15px;
  border: solid 5px #b3b3ff;
  -webkit-font-smoothing: antialiased;
  animation: blinker 1s linear infinite;
}

.btn-play-again:hover{
  color: #b3b3ff;
  border: solid 5px #b3b3ff;
  animation: none;
}
.btn-continue{
  font-size: 30px;
}


/* Display the score in the minigame */
.score {
  position: absolute;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 250%;
  padding-top: 20px;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 0 #000;
  z-index: 4;
}

/* CSS for the bird / image */
.bird {
	height: 28px;
	width: 40px;
	background: url("../img/bird.png");
	position: absolute;
	bottom: 50%;
	left: 130px;
	z-index: 3;
  animation: birdFlap 0.2s steps(3, end) infinite alternate;
  transition: transform 0.3s;
}

@keyframes birdFlap {
  0% {background-position: 0 84px;}
  100% {background-position: 0 0;}
}

/* CSS for the Pipes / whatever */

.pipe {
	width: 60px;
	height: 100%;
	position: absolute;
	right: -60px;;
}

.topHalf {
	background: url("../img/pipe.png") bottom;
	position: absolute;
	top: 0;
	width: 100%;
}

.bottomHalf {
	background: url("../img/pipe.png") top;
	position: absolute;
	bottom: 0;
	width: 100%;
}
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
